<!DOCTYPE html>
<html lang="en">

    <head>
        <title>BookSaw - Free Book Store HTML CSS Template</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="author" content>
        <meta name="keywords" content>
        <meta name="description" content>

        {% load static %}
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous">

        <link rel="stylesheet" type="text/css"
            href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" type="text/css"
            href="{% static 'icomoon/icomoon.css' %}">
        <link rel="stylesheet" type="text/css"
            href="{% static 'css/vendor.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <style>
            .main-img {
                max-height: 400px;
                max-height: 400px;
            }
           
        </style>

    </head>

    <body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

        {% include 'partials/header.html' %}

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"></script>

        <div class="container " style="min-height: 100vh;">
            <div class="row mt-4 mb-5">
                <div
                    class="col-lg-6 d-flex justify-content-center align-items-center">
                    <img src="{{ book.img }}" alt="book cover" class="main-img">
                </div>
                <div class="col-lg-6">
                    <h1>{{ book.title }}</h1>
                    <p class="m-0" style="font-size: 15px;">{{ book.desc }}</p>
                    <p style="font-size: 12px;" class="mt-2">{{ book.genre }}</p>

                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <p class="m-0">Book Format : <span class="fw-bold">{{ book.bookformat }}</span></p>
                            <p class="m-0">Author : <span class="fw-bold"> {{ book.author }}</span></p>
                        </div>
    
                        <div>
                            <i class="fas fa-star fs-1"
                                style="color: rgb(248, 248, 0);"></i>
                            (<span>{{ book.rating }} </span>) from {{ book.reviews }} reviews.
    
                        </div>
                    </div>
                    

                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            {% if book.status == 'N' %}
                            <a href="{% url 'addbook' book.id %}" class="btn btn-primary">ADD NOW </a>
                            {% else %}
                            <a href="{% url 'addbook' book.id %}" class="btn btn-primary">REMOVE NOW </a>
                            {% endif %}
                        {% else %}

                            {% if not book_exists %}

                                {% if book.status == 'Y' %}   
                                <button id="checkout-button" class="btn btn-dark btn-lg" style="font-size: 18px;">&#8369;
                                    {{ book.price }}
                                </button> 
                                {% else %}
                                <button id="checkout-button" class="btn btn-dark btn-lg" disabled style="font-size: 18px;">&#8369;
                                    {{ book.price }} <span class="badge badge-danger">Not available</span>
                                </button> 
                                {% endif %}
                                    
                            {% endif %}

                        {% endif %}
                    {% endif %}
                </div>

                
                <div class="col-lg-12 mt-3">
                    <h2>Similar Books</h2>
                    <div class="row" id="product-container">
                        {% for book in recommendations %}
                        {% if book.img %}
                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="{{ book.img }}" alt="Books"
                                        class="product-item">
                                   

                                    {% if user.is_authenticated %}
                                       

                                        {% if user.is_superuser %}
                                        <button type="button" class="add-to-cart"
                                        data-product-tile="add-to-cart"
                                        data-id="{{ book.id }}"
                                        data-link="{{ book.link }}" >ADD NOW
                                        </button>
                                        {% else %}

                                        <button type="button" class="add-to-cart"
                                        data-product-tile="add-to-cart"
                                        data-id="{{ book.id }}"
                                        data-link="{{ book.link }}" >BUY NOW
                                        </button>
                                        {% endif %}
                                  

                                    {% else %}
                                    <button type="button" class="add-to-cart"
                                            data-product-tile="add-to-cart"
                                            data-id="{{ book.id }}"
                                            data-link="{{ book.link }}" >VIEW INFO
                                        </button>
                                    {% endif %}
                                </figure>
                                <figcaption>
                                    <h3>{{ book.title }}</h3>
                                    <span>{{ book.author }}</span>
                                </figcaption>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

        <script src="https://js.stripe.com/v3/"></script>
    
        <script>
            var stripe = Stripe('pk_test_51P3bf7P6YN7rVUN5j5AM2WFlIsrzawmJN6Bbrw3Ww8XjpiqeYvsBiJSmVKW8Mm9rWIYDwC17QMWPHhQlxUJtoZL800Yegtk4bn');  // Replace with your Stripe public key
    
            document.getElementById('checkout-button').addEventListener('click', function() {
                stripe.redirectToCheckout({
                    sessionId: '{{ context.session_id }}'
                }).then(function(result) {
                    // Handle any errors
                });
            });
        </script>

        <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script>
            $(document).ready(function(e) {
                $('#product-container').on('click','.add-to-cart', function(e) {
                    
                    var id = this.dataset.id;
                    var book_link = `/book_info/${id}`;
                    
                    // Navigate to the book_info page for the selected book
                    window.location.assign(book_link);
        
                })
            })
        </script>
    </body>

</html>