{% load static %}
<section id="recommended_books" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    
                    <h2 class="section-title">Books Might You Like</h2>
                </div>

                <div class="product-list" data-aos="fade-up">
                    <div class="row" id="reco-product-container">

                        {% for book in recommended_books %}
                        {% if book.img %}
                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="{{ book.img }}" alt="Books"
                                        class="product-item">
                                    {% if user.is_authenticated %}
                                        <button type="button" class="add-to-cart"
                                            data-product-tile="add-to-cart"
                                            data-id="{{ book.id }}"
                                            data-link="{{ book.link }}" >BUY NOW
                                        </button>

                                    {% else %}
                                    <button type="button" class="add-to-cart"
                                            data-product-tile="add-to-cart"
                                            data-id="{{ book.id }}"
                                            data-link="{{ book.link }}" >VIEW INFO
                                        </button>
                                    {% endif %}
                                </figure>
                                <figcaption>
                                    <h3>{{ book.title }}</h3>
                                    <span>{{ book.author }}</span>
                                </figcaption>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div><!--grid-->

            </div><!--inner-content-->
        </div>

    </div>

</section>